.container{
    border: 2px solid transparent ;
    height: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
.cell{
    border: 2px solid red;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 1em;
    font-size: xx-large;
    text-align: center;
    background-image: linear-gradient(90deg, red, #22C227
    , yellow );
    text-decoration: underline;
    border-color: transparent;
}
.box2{
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 20px;
    border-width: 5px;
    background-color: turquoise;
    height: 5em;
    text-align: center;
    margin-top: 1em;


}
.box3{
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 20px;
    border: 3px solid green;
    background-color: turquoise;
    display: flex;
    height: 10em;
    margin-top: 1em;

}
.it1{
    border: 3px solid green;
    height: 46%;
    width: 25%;
    background-color: turquoise;
    border-radius: 6px;
    font-weight: bold;
    color: #3203BE;
    text-align: center;
    position: relative;
    left: 2em;


}

.it2{
    border: 3px solid green;
    height: 46%;
    width: 25%;
    background-color: turquoise;
    border-radius: 6px;
    font-weight: bold;
    color: #3203BE;
    text-align: center;
    position: relative;
    left: 12%;




}
   
.it3{
    border: 3px solid green;
    height: 46%;
    width: 25%;
    background-color: turquoise;
    border-radius: 6px;
    font-weight: bold;
    color: #3203BE;
    text-align: center;
    position: relative;
    right: 13%;
    top: 50%;



}
   
.it4{
    border: 3px solid green;
    height: 46%;
    width: 25%;
    background-color: turquoise;
    border-radius: 6px;
    font-weight: bold;
    color: #3203BE;
    text-align: center;
    position: relative;
    right: 2em;



}
.box4{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 1em;
    font-size: x-large;
    text-align: center;
    background-image: linear-gradient(90deg, #B42367,yellow, #B42367 );
    text-decoration: underline;
    border-color: transparent;
    margin-top: 1em;
}
.box5{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 20em;
    border-radius: 20px;
    border: 3px solid green;
    background-color: turquoise;
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    

}
.small{
    border: 2px solid red;
    border-radius: 10px;
    height: 30%;
    width: 15%;
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
    color:orangered;
    margin: auto;

}
.box6{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 1em;
    font-size: x-large;
    text-align: center;
    margin-top: 1em;
    background-color: #B42367;
    text-decoration: underline;
    border-color: transparent;
}
.box7{
    grid-column-start: 1;
    grid-column-end:2;
    background-color: palegreen;
    border-color: transparent;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    height: 3em;
    
    margin: 1em;
    display: inline-grid;
}
.box8{
    grid-column-start: 2;
    grid-column-end:3;
    background-color: skyblue;
    border-color: transparent;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    height: 3em;
    
    margin: 1em;
}
.box9{
    grid-column-start: 3;
    grid-column-end:4;
    background-color: #3203BE;
    border-color: transparent;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    height: 3em;
    
    margin: 1em;
}
.box10{
    grid-column-start: 4;
    grid-column-end:5;
    background-color: #404040;
    font-weight: bolder;
    color: white;
    line-height:30px;
    border-color: transparent;
    margin-top: 1.5em;
    text-align: center;
    
}
.box11{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: yellow;
    font-size:x-large;
    border-color: transparent;
    height: 7em;
    margin: -7em 1em 0 1em;
}
.box12{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    background-color: turquoise;
    border-color: transparent;
    height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: x-large;
}

   